html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.5px;
	background-color: var(--white);
}

*::-webkit-scrollbar {
	display: none;
}

* {
	--blue: #0a3463;
	--green: #0b9708;
	--red: #ff0000;
	--white: #f5f5f5;
	--light-gray: #e9e9e9;
	--medium-gray: #9e9e9e;
	--dark-gray: #535151;
	--black: #000000;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

h3 {
	font-family: "Montserrat", sans-serif;
	color: var(--blue);
	font-size: 18px;
	margin-bottom: 12px;
}

b {
	font-weight: 600;
}

a {
	cursor: point;
	text-decoration: none;
}

header {
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 7vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	background-color: var(--blue);
}

header > img {
	height: 55px;
}

main {
	width: 80%;
	max-width: 900px;
	height: 100%;
	margin: 0 auto;
	overflow-y: scroll;
}

a.return-main-link {
	margin: 70px 0;
	display: inherit;
	font-size: 1.1rem;
	color: var(--blue);
	text-decoration: underline;
}

section {
	margin: 70px 0 75px;
}

section.products-section {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

section.products-section > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 2px;
}

div#product {
	width: 130px;
	height: 180px;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 7px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--light-gray);
}

div#product:hover {
	filter: brightness(0.9);
}

div#product img {
	width: 100%;
	height: 60px;
	object-fit: cover;
	border-radius: 3px;
}

div#product > div > span {
	width: 100%;
	font-size: 12px;
	font-weight: 600;
	display: inherit;
	word-break: break-word;
	line-height: 16px;
}

div#product button {
	width: 100% !important;
}

div#product span.product-name {
	margin: 5px 0;
	color: var(--black);
}

div#product span.product-promotion {
	font-size: 11px;
	font-weight: 700;
	color: var(--green);
}

div#product span.product-price {
	font-size: 14px;
	margin: 5px 0;
	font-weight: 600;
	text-align: end;
	color: var(--black);
}

div#product span.product-promotion.product-price {
	color: var(--green);
}

p {
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.5px;
	line-height: 1.2rem;
}

button,
input,
select {
	font-family: "Open Sans", sans-serif;
	cursor: pointer;
	letter-spacing: 0.5px;
	outline: none;
}

select {
	cursor: default;
}

input {
	cursor: text;
	letter-spacing: 0.3px;
	padding: 0 14px;
}

button:hover {
	filter: brightness(0.9);
}

button.extensible-button {
	width: 106px;
	height: fit-content;
	min-height: 32px;
	line-break: auto;
	padding: 2px;
	font-weight: 600;
	font-size: 14px;
}

button.extensible-button.default {
	border-radius: 5px;
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

button.extensible-button.default-inverted {
	border-radius: 5px;
	border: 1px solid var(--blue);
	background-color: var(--white);
	color: var(--blue);
}

button.extensible-button.rounded {
	border-radius: 50px;
}

button.extensible-button.small {
	width: 103px;
	min-height: 23px;
	font-size: 10px;
}

button.extensible-button.normal {
	width: 106px;
	min-height: 32px;
	font-size: 14px;
}

button.extensible-button.large {
	width: 178px;
	min-height: 32px;
	font-size: 14px;
}

section.search-section {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

section.search-section > input,
section.search-section > button {
	margin: 5px 10px;
}

section.search-section > input {
	width: 100%;
	max-width: 500px;
	height: 32px;
	border: 1px solid var(--medium-gray);
	border-radius: 50px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
	background-color: var(--white);
	color: var(--dark-gray);
}

section.search-section > input::placeholder {
	color: var(--medium-gray);
}

fieldset.extensible-fieldset {
	border: 1px solid var(--blue);
	border-radius: 3px;
	padding: 10px;
	margin: 14px 0;
	font-size: 14px;
}

fieldset.extensible-fieldset > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}

fieldset.extensible-fieldset > legend {
	font-size: 16px;
	font-weight: 600;
}

fieldset.extensible-fieldset > div > div {
	height: fit-content;
	margin: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

fieldset.extensible-fieldset select {
	margin: 0 5px;
	border: none;
	border-bottom: 1px solid var(--blue);
	background-color: transparent;
	font-size: 14px;
}

fieldset.extensible-fieldset input[type="checkbox"],
fieldset.extensible-fieldset input[type="radio"] {
	margin: 0 5px;
	cursor: default;
}

div#cart {
	width: calc(80% - 2rem);
	max-width: calc(900px - 2rem);
	min-height: 65px;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	bottom: 0;
	background-color: var(--light-gray);
	border-radius: 10px 10px 0 0;
	border: 1px solid var(--medium-gray);
	border-bottom: none;
	box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

div#cart > div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div#cart div.cart-total {
	font-size: 16px;
	font-weight: 700;
	color: var(--black);
}

div#cart span.cart-total-price {
	color: var(--blue);
}

div#cart span.open-close-cart {
	font-size: 20px;
	margin-left: 1rem;
	cursor: pointer;
}

div#cart.open {
	height: auto;
	max-height: 70%;
	justify-content: space-between;
}

div#cart.open > div {
	margin: 1rem 0;
}

div#cart.closed div.cart-products {
	display: none;
}

div#cart.open div.cart-products {
	display: initial;
}

div.cart-products {
	height: 100%;
	overflow-y: scroll;
}

div.cart-products div {
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.cart-products > span {
	display: inherit;
	text-align: center;
}

div.cart-product {
	background-color: var(--light-gray);
	border-radius: 5px;
	border: 1px solid transparent;
	margin: 5px 0;
	overflow: hidden;
}

div.cart-product:hover {
	filter: brightness(0.9);
	border: 1px solid var(--medium-gray);
}

div.cart-product img {
	height: 100%;
	width: auto;
	max-width: 90px;
	object-fit: cover;
}

div.cart-product span {
	font-size: 1rem;
	font-weight: 600;
}

div.cart-product span.cart-product-name {
	margin: 0 1rem;
}

section.product-details-section {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: var(--dark-gray);
	font-size: 1rem;
}

section.product-details-section img {
	width: 217px;
	height: 217px;
	object-fit: cover;
	border-radius: 5px;
	margin: 1rem;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

section.product-details-section h4 {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--black);
}

section.product-details-section p {
	margin-bottom: 3rem;
}

section.product-details-section span {
	margin: 1rem 0;
	display: inherit;
	font-weight: 400;
	font-size: 1rem;
	color: var(--dark-gray);
}

section.product-details-section span.product-details-price {
	font-weight: 600;
	font-size: 1.1rem;
	color: var(--black);
}

section.product-details-section span.product-details-price.original-price {
	color: var(--red);
}

section.product-details-section span.product-details-price.promotion-price {
	color: var(--green);
}

@media (max-width: 380px) {
	div#cart {
		width: 100%;
		margin: 0;
		left: 0;
	}

	div#cart > div {
		width: calc(100% - 2rem);
	}
}

@media (max-width: 430px) {
	section.search-section {
		flex-wrap: wrap;
	}
}

@media (max-width: 430px) {
	section.search-section {
		flex-wrap: wrap;
	}
}

@media (max-width: 500px) {
	div.cart-product span {
		font-size: 0.8rem;
	}

	div.cart-product div {
		height: 45px;
	}
}

@media (min-width: 1200px) {
	header {
		padding: 0 12vw;
	}
}
